@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

label{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
}

input{
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 1em;
    background-color: #E6E6E6;
    border: none;
}

.background{
    background-image: url(../img/Login_BackGround.png);
    height: 760px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100vw;
    justify-content: center;
}

.grid{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-end;
}

.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 650px;
}

.alinhar_form{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_input{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container_input input{
    width: 436px;
    height: 40px;
}

.espacamento{
    margin-top: 40px;
}

.btn{
    margin-top: 70px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #112C2C;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
}